<DOCTYPE html>
<html>
	<!--test-->
  <head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="css/pttApp.css">
	<script src="https://planomm-81xcap.kodiaknetworks.com/AppWidget/kodiakPTTButton.js"></script>
  </head>

	<body>
	<script type="application/javascript">
	/*function loadJS() {
		// DOM: Create the script element
		file ='https://planomm-81xcap.kodiaknetworks.com/JSCDE/kodiakPTTButton.js';
		
		var jsElm = document.createElement("script");
		// set the type attribute
		jsElm.type = "application/javascript";
		// make the script element load file
		jsElm.src = file;
		// finally insert the element to the body element in order to load the script
		document.body.appendChild(jsElm);
	}*/
	</script>
		
		<script>
	
			//set the Originator MDN.
			//setLoginId('18111100191');
		//alert('loaded');

            //Example for an Adhoc Call.
            //var calledParty = [];
			//calledParty[0] = '18111100196';
            //calledParty[1] = '18111100002';
		    //setCalledParty(calledParty);

		</script>
	
        <!--Info Screen-->
		<div class="infoScreen">
                <p id="talkerInfo"></p>
                <img id="talker" name="talkerIcon"/>  
        </div>
        
        <!-- Divider -->
        <div class="divider"></div>

		<!-- Push To Talk -->
		<div class="pushToTalk"> 
            <img id="call_icon" name="floor" width="65%"/>
        </div>

        <!-- Divider -->
        <div class="divider"></div>
        
        <!-- Utility -->
	    <div class="UtilityScreen">
            <img id="sendAlert" value="Send IPA"/>	
	        <img id="end" value="End Call"/>
        </div>

	</body>
</html>
