<!DOCTYPE html>
<html>
<title>uTalk!</title>

<style>

body {
    background-color: lightgrey;
	height:auto;
    width: auto;
}

.fig{
	diplay : block;
	position : absoulte; 
	margin-left: auto;
    margin-right: auto;
	display: inline-block;
}

	
.caption {
    width: 180px;
    float: right;
    margin: 0;
    text-align: left;
    padding: 7px;
	color : black;
 }
 
</style>

<body>

	<figure class='fig'>
		
		<!--
			<a href='https://login.uber.com/oauth/v2/authorize?response_type=code&client_id=5IdKUEfjToWRIQx3v93NPZhb9cFcA0Gk&scope=profile%20history_lite%20history%20request'><img type ="link" class='image' src="images/uberRide.png">
		!-->
		
		<!--
			<a href='https://wcsr.ms1b.kodiakgw.com/UberApp/mainApp.html?access_code=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZXMiOlsicHJvZmlsZSIsImhpc3RvcnlfbGl0ZSIsImhpc3RvcnkiLCJyZXF1ZXN0Il0sInN1YiI6IjkwMDU4YjM1LWJkN2MtNGNiMy1iN2RiLWIzMTQzZThkNWNiNCIsImlzcyI6InViZXItdXMxIiwianRpIjoiYWM0N2JlYWItYzQ0My00MTViLTlmMjYtN2NhNmJkN2E4OTY3IiwiZXhwIjoxNDUzNDQxODI2LCJpYXQiOjE0NTA4NDk4MjYsInVhY3QiOiJrR3liOUdyWFNlQlBvVXdRbTVicjBBU1RwR0Z4d3YiLCJuYmYiOjE0NTA4NDk3MzYsImF1ZCI6IjVJZEtVRWZqVG9XUklReDN2OTNOUFpoYjljRmNBMEdrIn0.n_TPTZ9fyiUIcXikV3asAI71VLWGlFg-DwXYQTI4OuMHUt597yiN4AUD7jqALHHgYJaW-UiE4CKwMF3EhkVB7V1rBa1Xdz2aaTp5uDbmDj-hpDyJm68oqCQw6goidKk6HvOG5C-jyralBCTA8vIzjYimuWJVq1e_-Wq31hEf_UO7OiO-gYGyOTb9mQuOEf0PS429hUB1ozvpJcMM4Ei0tLQdYVmIxT5LcYV1mOKsskgy9pgwo1ZkidOKrqAnG1LKiG1mKvGjPH4BaNdssEOCM8lyn6L0W-Gcgnt0XqYw6i1h5WAe_gH8OhDgwyquspGPpDsfI20y76VMhLcRvbMi-w'><img type ="link" class='image' src="images/uberRide.png">
		!-->	
		
			<a href='mainApp'><img type ="link" class='image' src="../img/uberRide.png">
			<a href='mainApp'><img type ="link" class='image' src="../img/uberRide.png">
		
		</figure>
	
</body>
</html>